# Otto Group Product Classification Challenge

Лучшего результата: 0.51469 удалось добиться с помощью Gradient Tree Boosting, на оригинальном наборе данных. 
Попытки использовать другие классификаторы, выкинуть коррелированные признаки, нормировать, ипользовать PCA и т.д. ничего не дали.

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from patsy import dmatrices
import re
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.decomposition import PCA
import sklearn.preprocessing as preprocessing

In [3]:
df = pd.read_csv("data/train.csv")
df['target_n'] = pd.factorize(df.target)[0]

df_test = pd.read_csv("data/test.csv")
sampleSubmission = pd.read_csv("data/sampleSubmission.csv")

df.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target,target_n
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Class_1,0
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,Class_1,0
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,Class_1,0
3,4,1,0,0,1,6,1,5,0,0,...,1,2,0,0,0,0,0,0,Class_1,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,Class_1,0

In [13]:
classifier = GradientBoostingClassifier(n_estimators=400)
classifier.fit(df[df.columns[1:-2]], df.target_n)
preds = classifier.predict_proba(df_test[df_test.columns[1:]])
result = pd.DataFrame(preds, index=df_test.id.values, columns=sampleSubmission.columns[1:])
result.head()

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
1,0.000189,0.133732,0.155978,0.704040,0.000010,0.000866,0.004419,0.000551,0.000215
2,0.020815,0.119490,0.017161,0.009268,0.000079,0.666134,0.038695,0.124163,0.004195
3,0.000146,0.000117,0.000112,0.000080,0.000001,0.998294,0.000205,0.000946,0.000100
4,0.001063,0.648290,0.312018,0.026182,0.000007,0.000479,0.000789,0.001030,0.010142
5,0.112597,0.003440,0.001761,0.000344,0.000098,0.006938,0.004241,0.376754,0.493828

In [12]:
result.to_csv('result_gb.csv', index_label='id')

Дальше только не сработавшие эксперименты

In [66]:
parameter_grid = {
    "max_depth": [None, 3, 5, 10],
    'max_features': [None, "sqrt", 0.5],
    'min_samples_split': [1,2,5]
}

classifier = RandomForestClassifier(n_estimators=400)
grid_search = GridSearchCV(classifier, parameter_grid, n_jobs=-1, cv=10, verbose=1)
grid_search.fit(df[df.columns[1:-2]], df.target_n)
best_params = sorted(grid_search.grid_scores_, key=lambda x: x[1], reverse=True)[:10]
best_params

Fitting 10 folds for each of 36 candidates, totalling 360 fits

[Parallel(n_jobs=-1)]: Done   1 jobs       | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done  50 jobs       | elapsed: 19.5min
[Parallel(n_jobs=-1)]: Done 200 jobs       | elapsed: 43.1min
[Parallel(n_jobs=-1)]: Done 346 out of 360 | elapsed: 67.4min remaining:  2.7min
[Parallel(n_jobs=-1)]: Done 360 out of 360 | elapsed: 69.7min finished

[mean: 0.81189, std: 0.00465, params: {'max_features': 0.5, 'min_samples_split': 1, 'max_depth': None},
 mean: 0.81076, std: 0.00366, params: {'max_features': 'sqrt', 'min_samples_split': 2, 'max_depth': None},
 mean: 0.81050, std: 0.00483, params: {'max_features': 'sqrt', 'min_samples_split': 1, 'max_depth': None},
 mean: 0.81017, std: 0.00404, params: {'max_features': 0.5, 'min_samples_split': 2, 'max_depth': None},
 mean: 0.80980, std: 0.00376, params: {'max_features': 0.5, 'min_samples_split': 5, 'max_depth': None},
 mean: 0.80959, std: 0.00414, params: {'max_features': 'sqrt', 'min_samples_split': 5, 'max_depth': None},
 mean: 0.80035, std: 0.00481, params: {'max_features': None, 'min_samples_split': 2, 'max_depth': None},
 mean: 0.80016, std: 0.00419, params: {'max_features': None, 'min_samples_split': 1, 'max_depth': None},
 mean: 0.79967, std: 0.00622, params: {'max_features': None, 'min_samples_split': 5, 'max_depth': None},
 mean: 0.70889, std: 0.00418, params: {'max_features': 0.5, 'min_samples_split': 1, 'max_depth': 10}]

In [5]:
classifier = RandomForestClassifier(n_jobs=-1, n_estimators=400, max_depth=None, max_features="sqrt", min_samples_split=1)
classifier.fit(df[df.columns[1:-2]], df.target_n)
preds = classifier.predict_proba(df_test[df_test.columns[1:]])
result = pd.DataFrame(preds, index=df_test.id.values, columns=sampleSubmission.columns[1:])
result.head()

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
1,0.012,0.218,0.238,0.468,0.000,0.013,0.039,0.006,0.006
2,0.020,0.036,0.020,0.014,0.009,0.542,0.019,0.318,0.022
3,0.001,0.000,0.000,0.001,0.001,0.991,0.001,0.003,0.002
4,0.004,0.507,0.329,0.053,0.001,0.006,0.015,0.004,0.081
5,0.103,0.005,0.002,0.001,0.001,0.037,0.023,0.275,0.553

In [10]:
classifier = AdaBoostClassifier(n_estimators=100)
classifier.fit(df[df.columns[1:-2]], df.target_n)
preds = classifier.predict_proba(df_test[df_test.columns[1:]])
result = pd.DataFrame(preds, index=df_test.id.values, columns=sampleSubmission.columns[1:])
result.head()

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
1,0.110128,0.125164,0.125376,0.125627,0.085888,0.109394,0.117494,0.103980,0.096949
2,0.100383,0.117976,0.115586,0.112479,0.103635,0.120254,0.108984,0.123270,0.097432
3,0.112842,0.108112,0.106299,0.104644,0.080108,0.141464,0.113279,0.121466,0.111786
4,0.110235,0.126177,0.126197,0.119178,0.081073,0.108309,0.113417,0.112420,0.102994
5,0.126027,0.106629,0.095431,0.092598,0.070013,0.124292,0.123875,0.126266,0.134868

In [11]:
scaler = preprocessing.StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df[df.columns[1:-2]].astype(float)))
df_test_scaled = scaler.transform(df_test[df_test.columns[1:]].astype(float))

pca = PCA(n_components=0.99)
df_pca = pd.DataFrame(pca.fit_transform(df_scaled))
df_test_pca = pd.DataFrame(pca.transform(df_test_scaled))

classifier = GradientBoostingClassifier(n_estimators=400)
classifier.fit(df_pca, df.target_n)
preds = classifier.predict_proba(df_test_pca)
result = pd.DataFrame(preds, index=df_test.id.values, columns=sampleSubmission.columns[1:])
result.head()

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
1,0.002271,0.241084,0.321438,0.418533,0.000089,0.001108,0.014684,0.000507,0.000285
2,0.004162,0.041859,0.002257,0.000856,0.000890,0.880361,0.051899,0.015846,0.001870
3,0.000073,0.000616,0.000518,0.000164,0.000018,0.997524,0.000519,0.000542,0.000027
4,0.005964,0.649457,0.332213,0.005185,0.000011,0.001499,0.001205,0.003185,0.001282
5,0.101052,0.001507,0.001812,0.000774,0.000009,0.017546,0.013413,0.711861,0.152024

In [6]:
df_corr = df[df.columns[1:-2]].corr(method='spearman')
mask = np.ones(df_corr.columns.size) - np.eye(df_corr.columns.size)
df_corr = mask * df_corr
drops = []
for col in df_corr.columns.values:
    if np.in1d([col],drops):
        continue
    corr = df_corr[abs(df_corr[col]) > 0.9].index
    drops = np.union1d(drops, corr)
df_cor_res = df.drop(drops, axis=1)
df_cor_res